/*
    ==============
     custom style
    ==============
*/
.menu__link.active {
  color: #5867dd;
  background-color: #ebebeb;
  position: relative;
}
.menu__link.active::after {
  content: "";
  position: absolute;
  top: 43%;
  left: 4%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ffb822;
  border-radius: 100%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 45;
}
/* .recharts-tooltip-cursor {
  fill: none;
} */
tspan {
  font-size: 14px;
}
@media screen and (max-width: 400px) {
  .chart__status-buy {
    transform: translateX(-9%) !important;
  }
  .report-chart {
    width: 110% !important;
    margin-right: 0 !important;
  }
  .ticket-chart {
    width: 113% !important;
    margin-right: 0 !important;
  }
  .status-chart {
    transform: translateX(22px);
    width: 110% !important;
  }
}
@media screen and (max-width: 360px) {
  .status-chart {
    transform: translateX(16px);
  }
}
@media screen and (max-width: 330px) {
  .report-chart {
    width: 113% !important;
  }
  .ticket-chart {
    width: 116% !important;
  }
}
.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999999;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spinner-loader {
  color: #5867dd;
  width: 3rem;
  height: 3rem;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.2rem solid #5867dd;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spinner-animation 0.75s linear infinite;
}

@keyframes spinner-animation {
  100% {
    transform: rotate(-360deg);
  }
}
